# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# YOLO specific
models/
data/
outputs/
runs/
*.pt
*.onnx
